.intro {
    font-size: 30px;
    color: rgb(217, 204, 13);
    font-family: monospace;
}

.name1 {
    font-size: 20px;
    color: green;
    font-family: 'Gill Sans';
}


.img2{
     float: right;
     margin-top: -150px;
     margin-right: 200px;
}

ul.para1 {list-style-type: square;
      color: azure;
      font-size: 17px;
      font-family: 'Times New Roman', Times, serif;
      
}

.me {
    font-size: 20px;
    float: right;
    font-family: 'Arial Narrow';
    color: aqua;
    margin-right: -400px;
    margin-top: -200px;
}

.text {
    font-size: 15px;
    float: right;
    font-family: 'Times New Roman';
    color: bisque;
    margin-top: -150px;
    margin-right: -800px;
    line-height: 30px;
    
}

.img3 {
    margin-bottom: -400px;
}

.img4 {
    margin-top: 263px;
    float: right;
    margin-right: 80px;

}

.img5 {
    float: right;
    margin-right: -520px;
    margin-top: 265px;
}

.img6 {
    float: right;
    margin-top: 267px;
    margin-right: -820px;
}

.img7 {
    float: right;
    margin-top: 269px;
    margin-right: -1120px;
}

